<h1>titulo: {{book.title}}</h1>
<h2>numero de paginas: {{book.page}}</h2>
<p>Descrição: {{book.description}}</p>
<a href="/books/edit/{{book.id}}">editar este livro</a>
<form action="/book/remove/{{book.id}}" method="POST">
  <input type="submit" value="Remover" />
</form>